/* Toggle Styles */
#wrapper {
	padding-left: 0;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

#wrapper.toggled {
	padding-left: 250px;
}

#sidebar-wrapper {
	z-index: 1000;
	position: fixed;
	left: 250px;
	width: 0;
	height: 100%;
	margin-left: -250px;
	overflow-y: auto;
	background: #000;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
	width: 250px;
}

#page-content-wrapper {
	width: 100%;
	background-color: #F2F2F2;
}

.left-col {
	float: left;
	width: 49%;
}

.right-col {
	float: right;
	width: 49%;
}

.next-col {
	clear: both;
}

h1 {
	margin-bottom: 5px;
	font-weight: bold;
	color: #444444;
}

.us-map {
	padding-top: 200px;
	width: 420px;
	height: 420px;
}

.container-fluid {
	background-color: #F2F2F2;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 7px;
}

body {
	
}

.opac {
	opacity: 0.5;
	filter: alpha(opacity = 50);
}

path {
	fill: none;
	stroke-linejoin: round;
}

.land {
	fill: #ddd;
}

.states, .hexagons path {
	stroke: #fff;
}

.row {
	background-color: #F2F2F2;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 20px;
}

.home-row {
	opacity: 0.5;
	filter: alpha(opacity = 50);
	padding: 100px;
	float: right;
	position: absolute;
}

.col-lg-12 {
	background-color: #F2F2F2;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 7px;
}

.line-separator {
	height: 1px;
	background: #717171;
	clear: both;
	border-bottom: 1px solid #313030;
}

p {
	margin-left: auto;
	margin-right: auto;
	background-color: #FFFFFF;
	color: #666;
	padding: 5px;
	border-radius: 5px;
	margin-top: 5px;
	width: 100%;
	-webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

#wrapper.toggled #page-content-wrapper {
	position: absolute;
	margin-right: -250px;
}

/* Sidebar Styles */
.sidebar-nav {
	position: absolute;
	top: 0;
	width: 250px;
	margin: 0;
	padding: 0;
	list-style: none;
}

.sidebar-nav li {
	text-indent: 20px;
	line-height: 40px;
}

.sidebar-nav li a {
	display: block;
	text-decoration: none;
	color: #999999;
}

.sidebar-nav li a:hover {
	text-decoration: none;
	color: #fff;
	background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
	text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
	height: 65px;
	font-size: 18px;
	line-height: 60px;
}

.sidebar-nav>.sidebar-brand a {
	color: #999999;
}

.sidebar-nav>.sidebar-brand a:hover {
	color: #fff;
	background: none;
}

button.accordion {
	background-color: #eee;
	color: #444;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	text-align: left;
	border: none;
	outline: none;
	transition: 0.4s;
}

button.butt.active, button.butt:hover {
	background-color: #ddd;
}

button.butt {
	background-color: #eee;
	color: #444;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	text-align: left;
	border: none;
	outline: none;
	transition: 0.4s;
	margin: auto;
	width: 100%;
}

button.accordion.active, button.accordion:hover {
	background-color: #ddd;
}

div.panel {
	padding: 0 18px;
	background-color: white;
	display: none;
}

div.panel.show {
	display: block;
}

#col-one {

	width: 16%;
	float: left;
  border: 4px inset;
  padding: 1%;
  
    height: 500px;
}

#col-two {

	width: 16%;
	float: left;
  border: 4px inset;
  padding: 1%;

    height: 500px;
}
#col-two.hover {

	width: 16%;
	float: left;
  border: 4px inset;
  padding: 1%;

    height: 500px;
}

#col-three {

	width: 16%;
	float: left;
  border: 4px inset;
  padding: 1%;

height: 500px;
}

#col-four {

	width: 16%;
	float: left;
  border: 4px inset;
  padding: 1%;

height: 500px;
}

#col-five {

	width: 16%;
	float: left;
  border: 4px inset;
  padding: 1%;

height: 500px;
}

#revolucio-icon {
	background-color: #313a49;
	width: 100%;
	clear: both;
	
}


@media ( min-width :768px) {
	#wrapper {
		padding-left: 250px;
	}
	#wrapper.toggled {
		padding-left: 0;
	}
	#sidebar-wrapper {
		width: 250px;
	}
	#wrapper.toggled #sidebar-wrapper {
		width: 0;
	}
	#page-content-wrapper {
		padding: 20px;
		position: relative;
	}
	#wrapper.toggled #page-content-wrapper {
		position: relative;
		margin-right: 0;
	}
}